<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Career History</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2022</h4>
                                    <h4 class="subheading">B.S in Applied Computational Mathematics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">University of Washington</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2023</h4>
                                    <h4 class="subheading">Data Analyst at RMSI</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Data Analysis, Geographic Analysis, Data Engineering</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2024 - Present</h4>
                                    <h4 class="subheading">M.S in Computational Data Science</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Georgia Institution of Technology</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2025</h4>
                                    <h4 class="subheading">Analytic Reporting Developer at PeaceHealth</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Clinical Data analysis, Data engineering, Pipeline Development</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
